{{ $enabledPostNavigation := .Site.Params.postNavigation | default true }}
{{ if $enabledPostNavigation }}
<div class="navigation navigation-single">
    {{ with .PrevInSection }}
    <a href="{{ .RelPermalink }}" class="navigation-prev">
      <i aria-hidden="true" class="fa fa-chevron-left"></i>
      <span class="navigation-tittle">Previous Post</span>
    </a>
    {{ end }}
    {{ with .NextInSection }}
    <a href="{{ .RelPermalink }}" class="navigation-next">
      <span class="navigation-tittle">Next Post</span>
      <i aria-hidden="true" class="fa fa-chevron-right"></i>
    </a>
    {{ end }}
</div>
{{ end }}
