{{ with .Site.Params.copyright }}
<div class="copyright hidden-sm">
  &copy; {{ with $.Site.Params.since }}{{ if lt . now.Year }}{{ . | safeHTML }} - {{ end }}{{ end }}{{ now.Format "2006"}} {{ . | safeHTML }}
  {{ with $.Site.Params.license }}
    <a href="{{$.Site.Params.licenseURL | safeHTML}}">{{ . | safeHTML }}</a>
  {{end}}
</div>
{{ end }}
{{ with .Site.Params.showBuiltWith }}
<div class="builtwith hidden-sm">
Built with <a href="https://gohugo.io">Hugo</a> ❤️ <a href="https://github.com/htr3n/hyde-hyde">hyde-hyde</a>.
</div>
{{ end }}
