<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about">
      <span class="site__title">
        <a href="{{ .Site.BaseURL }}">
        {{ with .Site.Params.logoimage }}
          <img src="{{ . }}" alt="Logo Image" class="element--center">
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
        </a>
      </span>
      {{ if and (isset .Site.Params "authorimage") (not (isset .Site.Params.social "gravatar")) }}
        {{ with .Site.Params.authorimage }}
        <div class="author-image">
          <img src="{{.}}" alt="Author Image" class="img--circle img--headshot element--center">
        </div>
        {{ end }}
      {{ end }}
      {{ with .Site.Params.social.gravatar}}
        <div class="author-image">
          <img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" class="img--circle img--headshot element--center" alt="gravatar">
        </div>
      {{ end }}
      <p class="site__description">
        {{ with .Site.Params.description }} {{.}} {{end}}
      </p>
      <span class="site__intro">
        {{ with .Site.Params.intro }} {{.}} {{end}}
      </span>
      <h2 class="site__intro__heading">
        {{ with .Site.Params.intro_heading }} {{.}} {{end}}
      </h2>
    </div>
    <div class="collapsible-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle">{{ .Site.Title }}</label>
      <div class="menu-content">
      		<span class="site__intro hidden">
        		{{ with .Site.Params.intro }} {{.}} {{end}}
      		</span>
      		<h2 class="site__intro__heading hidden">
        		{{ with .Site.Params.intro_heading }} {{.}} {{end}}
      		</h2>
        {{ partial "sidebar/menu.html" . }}
        {{ partial "sidebar/social.html" . }}
      </div>
    </div>
    {{ partial "sidebar/copyright.html" . }}
  </div>
</div>
